.header {
    padding: 15px; 
    text-align: center; 
    background: lightslategrey; 
    color: white; 
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
  }
  .header h1 {
    font-size: 40px;
    text-decoration: dotted;
  }
  .navbar {
  background-color: lightgray;
  }
  .navbar {
  
    display: block;
    color: beige;
    text-align: center;
    padding: 10px 5px;
    text-decoration: dotted;
  }
  .navbar a:hover {
    background-color: white;
    color: black;
  }
  .job1 {
    background-color: rgb(69, 13, 235);
    margin-top: 15px;
    margin-bottom: 23px;
    height: 250px;
    width: auto;
    display: inline-block;
    align-items: center;
  }
img {
    height: 250px;
    width: auto;
    padding-left: -25px;
    margin-top: -25%;
    margin-bottom: 25%;
    margin-left: 5%;
    float: left;
}
 .para {
  font-size: 25px;  
  font-family: 'Times New Roman', Times, serif;
  position: relative;
  margin-left:28% ;
  margin-top: -20%;
 }