
body, h1, h2, p, {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f2f2f2;
  color: #333;
}

header {
  background-color: #333;
  color: white;
}
h1 {
  text-transform: uppercase;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}
h2 {
  text-transform: uppercase;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}
p {
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
  margin-left: 35%;
  margin-right: 35%;
}
.navbar {
  display: flex;
  justify-content: center;
  background-color: #333;
  padding: 10px 0;
}
.navbar a {
  color: white;
  text-decoration: none;
  margin: 0 20px;
}


.container-home {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.image-column {
    display: grid;
    justify-content: center;
    align-content: center;
}

.image-column img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 50px;
    float: left;
    border: 1px solid #1d1b1b;
  box-shadow: 5px 5px 5px #f21873;
}

.text-column {
    display: grid;
    justify-content: center;
    align-content: center;
}

h2 {
  display: flex;
  justify-content: center;
    font-family: 'Times New Roman', Times, serif;
}
.quote, p1 {
  display: flex;
  text-align: center;
  align-items: center;
  padding: 5px;
  
}
#TopHome {
  padding: 10px;
}