body, h1, h2, p {
  margin: 0;
  padding: 0;
}

body {
  font-family:'Times New Roman', Times, serif
  background-color: #f2f2f2;
  color: #333;
}

header {
  background-color: #180de7;
  color: white;
  text-align: center;
}
h1 {
  text-transform: uppercase;
  font-family: 'Times New Roman', Times, serif;
}
h2 {
  text-transform: uppercase;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}
p {
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
  text-align: left;
  display: flex;
  justify-content: center;
  margin-left: 15%;
  margin-right: 15%;
 ;
}
.navbar {
  display: flex;
  justify-content: center;
  background-color: #333;
  padding: 10px 0;
}
.navbar a {
  color: white;
  text-decoration: none;
  margin: 0 20px;
}

#TopHome {
  background-color: #f9f9f9;
  text-align: center;
  padding: 20px;
}

.header {
  padding: 20px;
}

.quote, p {
  font-style: italic;
  font-size: 12px;
  font-family: 'Times New Roman', Times, serif;
}

.container-home {
  text-align: center;
  padding: 20px;
}

#Picture {
  text-align: center;
  padding: 5px;
}

#Image1 {
  max-width: 100%;
  height: 345px;
  width: 445;
  border-radius: 45px;
  border: 1px solid #1d1b1b;
  box-shadow: 5px 5px 5px #fcb953;
}

#paragraph {
  text-align: center;
  padding: 20px;
  margin-left: 25px;
}
.paragraph1 {
  text-align: center;
  padding: 20px;
  margin-left: 2px;
}
footer {
  text-align: center;
  background-color: #333;
  color: white;
  padding: 10px 0;
}
form {
  display: flex;
  gap: 10px;
  justify-content: center;
  font-style: italic; 
}
.social-links {
  display: grid;
  grid-auto-flow:column;
}
